body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #F3E9DF;
    font-size: 18px;
}
.collection-item a {color:#000!important}
.side-nav li {padding:0!important}
.circle {width:56px!important; margin-top:2px}
.logo {
    height: 50px;
}
.left i {max-height:30px!important}
nav i{color:#fff!important}
.brown i {color:#fff!important}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons.app {
    margin-left: 10px !important;
}
td {padding:10px!important}
.bottom-sheet .collection {
    margin: 0 !important;
}
h3 {font-size:27px!important; margin-top:28px;}
.bottom-sheet .modal-content {
    padding: 0 !important;
}
.collection a.collection-item{color:#a1887f }
.collection-item i {color:#a1887f !important}

.app {
    background: url(../images/cordova.png) no-repeat center top;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 30px;
    width: 250px;
    text-align: center;
    padding: 200px 0px 0px 0px;
    margin: -125px;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    margin: 27px;
    padding: 4px 0px;
    text-transform: uppercase;
    background-color: #696969;
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.ready {
    background-color: #4B946A;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
